<div class="container my-5">
    <h2 class="text-center">Lista de Usuarios</h2>
    <table class="table table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre de Usuario</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {{#each lista}}
            <tr>
                <td>{{id}}</td>
                <td>{{nombre}}</td>
                <td>{{#esAdmin rol}}Administrador{{else}}Normal{{/esAdmin}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>