<div class="container mt-5">
    <h2>Registro de Usuario</h2>
    <form id="registro" method="post" action="/registrar">
        <div class="form-group">
            <label for="nombre">Nombre de Usuario</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa tu nombre de usuario" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
    <!-- cachar tokens -->
    <script>
        const token = "{{token}}";
        if (token) {
            localStorage.setItem('token', token);
            console.log('Token guardado en localStorage:', token);
        } else {
            console.error('Token no disponible');
        }
    </script>
</div>