<div class="position-sticky">
    <ul class="nav flex-column">
        {{#estaAutenticado}}
            <p>Bienvenido, {{usuario.nombre}}</p>
        {{#esAdmin usuario.rol}}
            <li class="nav-item">
                <a class="nav-link active" href="/ver">
                    Listar usuarios
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/registrar">
                    Registrar usuarios
                </a>
            </li>
        {{/esAdmin}}
            <li class="nav-item">
                <a class="nav-link active" href="/logout">
                    Cerrar sesión
                </a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link active" href="/login">
                    Iniciar sesión
                </a>
            </li>
        {{/estaAutenticado}}
    </ul>
</div>